img {
  object-fit: cover;
  display: flex;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

.hero {
  width: 100%;
  box-shadow: 0px 8px 6px #ccc5c5;
  position: fixed;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero__nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: #ffffff;
}

.nav-bar-link {
  width: 850px;
}

.nav-bar-link-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-item {
  display: inline-block;
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

.nav-link-item::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #000;
  transition: width 0.5s;
}

.nav-link-item:hover::after {
  width: 100%;
}

.nav-link-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 159px;
  height: 40px;
  border: 3px solid blue;
  border-radius: 5px;
  background-color: blue;
}

.link-number {
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

a.link-number:hover {
  background: #ffffff;
  color: blue;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items-left {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 224px;
  gap: 20px;
}

.header__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.header__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.header-left-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 40px;
  border: 3px solid blue;
  border-radius: 5px;
  background-color: blue;
}

.left-link {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}

.servises {
  margin-bottom: 5rem;
}

.servises__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servises__title-item {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.servises__title-text {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  width: 60%;
  margin-bottom: 10px;
}

.servis__bottom-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.servis__bottom-sub {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 5rem;
}
.servis__bottom-inner {
  width: 320px;
  padding: 24px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: 1px 8px 5px 2px rgb(211, 209, 209);
  transition: all 0.3s;
}

.servis__bottom-inner:hover {
  box-shadow: 1px 2px 2px 2px rgb(211, 209, 209);
}

.servis__bottom-inner h3 {
  font-weight: 700;
  font-size: 2rem;
}

.servis__bottom-inner p {
  font-size: 1.6rem;
  font-weight: 400;
}

.servis-sub-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.servis-btn-item {
  width: 16.5rem;
  height: 4rem;
  background-color: blue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.servis-btn-item:hover {
  background-color: rgb(71, 71, 247);
}

.servis-btn-item a {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
}

.servis-btn-inner a {
  border-bottom: 2px solid blue;
  color: blue;
  font-size: 1.6rem;
  font-weight: 700;
}

.servis-btn-inner a:hover {
  border: none;
}

.work-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.work-title p {
  font-size: 1.6rem;
  font-weight: 400;
  width: 60%;
  text-align: center;
  margin-bottom: 5rem;
}

.work-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.work_text h3 {
  font-weight: 700;
  font-size: 2rem;
}

.work_text p {
  font-weight: 400;
  font-size: 1.6rem;
}

.work__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.work__btn-item {
  width: 16.5rem;
  height: 4rem;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.work__btn-item a {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
}

.order {
  background-color: blue;
}

.order__inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__bottom {
  display: flex;
  flex-direction: column;
  width: 34rem;
  height: 30rem;
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 5rem;
}

.input__ism {
  width: 30rem;
  height: 5.5rem;
  border: none;
  background-color: #f3f3f3;
}

.input__type {
  display: flex;
  align-items: center;
  width: 30rem;
  height: 5.5rem;
  background-color: #f3f3f3;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
}

.input-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.order-title .order-title-text {
  color: #ffffff;
}

.order-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.order-title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #ffffff;
}

.order-title p {
  font-size: 1.6rem;
  font-weight: 400;
  width: 60%;
  text-align: center;
  margin-bottom: 5rem;
  color: #ffffff;
}

.contact {
  width: 100%;
  background-color: #191919;
  height: 50vh;
}

.contact__item {
  height: 100%;
  display: flex;
  padding-top: 5rem;
  padding-left: 10rem;
  gap: 5rem;
}

.contact__title h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.contact__title p {
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
  max-width: 31rem;
  line-height: 2.4rem;
}

.contact__blog-title a {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.contact__blog-title {
  margin-bottom: 1.3rem;
}

.contact__link a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

.contact__link {
  margin-bottom: 1rem;
}

.contact__site-title a {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.contact__site-link a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

.contact__site-title {
  margin-bottom: 1rem;
}

.contact__site-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
